services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    healthcheck:
      test: ["CMD", "bash", "-c", "echo srvr | nc localhost 2181 | grep Mode"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"

  auth-service:
    build: ./auth-service
    ports:
      - "8084:8084"

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      auth-service:
        condition: service_started
      kafka:
        condition: service_started

  order-service:
    build: ./order-service
    depends_on:
      kafka:
        condition: service_started

  payment-service:
    build: ./payment-service
    depends_on:
      kafka:
        condition: service_started

  inventory-service:
    build: ./inventory-service
    depends_on:
      kafka:
        condition: service_started

  loyalty-service:
    build: ./loyalty-service
    depends_on:
      kafka:
        condition: service_started
