server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:

            - id: auth-service
              uri: http://localhost:8084
              predicates:
                - Path=/auth/**

            - id: order-service
              uri: http://localhost:8081
              predicates:
                - Path=/orders/**
              filters:
                - JwtAuthFilter

            - id: payment-service
              uri: http://localhost:8082
              predicates:
                - Path=/payments/**
              filters:
                - JwtAuthFilter

            - id: inventory-service
              uri: http://localhost:8083
              predicates:
                - Path=/inventory/**
              filters:
                - JwtAuthFilter

jwt:
  secret: my-super-secret-key-my-super-secret-key-123456
