server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      observation:
        enabled: true
      server:
        webflux:
          routes:

            - id: auth-service
              uri: http://auth-service:8084
              predicates:
                - Path=/auth/**

            - id: order-service
              uri: http://order-service:8081
              predicates:
                - Path=/orders/**
              filters:
                - JwtAuthFilter

            - id: payment-service
              uri: http://payment-service:8082
              predicates:
                - Path=/payments/**
              filters:
                - JwtAuthFilter

            - id: inventory-service
              uri: http://inventory-service:8083
              predicates:
                - Path=/inventory/**
              filters:
                - JwtAuthFilter

jwt:
  secret: my-super-secret-key-my-super-secret-key-123456
management:
  observations:
    http:
      server:
        enabled: true
      client:
        enabled: true
  endpoints:
    web:
      exposure:
        include: "*"

  tracing:
    sampling:
      probability: 1.0

  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spanscls

logging:
  pattern:
    level: "%5p [${spring.application.name},traceId=%X{traceId},spanId=%X{spanId}]"