server:
  port: 8085

spring:
  application:
    name: loyalty-service

  datasource:
    url: jdbc:h2:mem:loyaltydb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


  kafka:
    consumer:
      group-id: loyalty-service-group
      auto-offset-reset: earliest

      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer

      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer

        spring.json.trusted.packages: com.kavyahegde.loyalty_service.event
        spring.json.use.type.headers: false
        spring.json.value.default.type: com.kavyahegde.loyalty_service.event.PaymentSuccessEvent

